:host {
    padding: 1px 8px;
}
.post-content a {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}
.post-content a:hover {
    text-decoration: none;
}
@media only screen and (min-width: 640px) {
    :host {
        border-radius: 5px;
        padding: 5px 15px 2px;
    }
}