<a routerLink="/{{ post.subreddit }}" class="subreddit-link">{{ post.subreddit }}</a>
<span class='post-time'>{{ moment.unix(post.created_utc).fromNow() }}</span>
<div class=
    "post-content
    {{ post.post_hint !== 'image'
    && post.thumbnail
    && post.thumbnail !== 'default'
    && !post.is_self ?
        'thumbnail-post' : '' }}">

    <h1 class='post-title'>{{ post.title }}</h1>
    <app-post-content *ngIf="!post.is_self"
        [post]="post"
        [additionalClass]="class">
    </app-post-content>
</div>
<div class="post-panel" id='comments'>
    <span class="score">{{ post.score }}</span>
    <div class="comments-link">
        <img src="../../../assets/comments-icon.png" alt="comments icon" />
        <span>{{ post.num_comments }} {{ post.num_comments === 1 ? 'comment' : 'comments' }}</span>
    </div>
</div>