<div *ngIf="post.post_hint === 'image'" class='post-image'>
    <img [src]="post.url" alt='media preview' />
</div>

<div *ngIf="post.post_hint !== 'image'">
    <a *ngIf="post.thumbnail && post.thumbnail !== 'default'" [href]="post.url" target='_blank' rel='noreferrer' >
        <img [src]="post.thumbnail" alt='media preview' />
    </a>
    <a *ngIf="!post.thumbnail || post.thumbnail === 'default'" class='post-link'
        [href]="post.url" target='_blank' rel='noreferrer' >{{ post.url }}</a>
</div>

