.post-title {
    font-size: 1.3rem;
    margin: 10px 0;
}
.post-panel {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.score {
    color: rgb(27, 27, 27);
    font-size: 1rem;
}
.subreddit-link {
    font-weight: 700;
    font-size: .85rem;
}
.subreddit-link:hover {
    text-decoration: underline;
}
.post-time {
    margin-left: 5px;
}
.comments-link {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 8px;
}
.comments-link img {
    width: 25px;
    margin-right: 5px;
}
.comments-link:hover {
  background-color: #d3d5d8;
}
.thumbnail-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.thumbnail-post img {
    margin-left: 20px;
}