:host {
    background-color: rgb(241, 241, 241);
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #d3d5d8;
}
.header-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.logo {
    width: 117px;
    margin-right: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: rgb(232, 230, 230);
    width: 400px;
    max-width: 50%;
    border-radius: 4px;
    height: 35px;
    border: 1px solid #d3d5d8;
}
.search-bar:focus-within {
    border-color: rgb(0, 102, 204);
}
.search-bar:hover {
    border-color: rgb(0, 102, 204);
}
#search-input {
    border: none;
    background-color: rgb(232, 230, 230);
    width: 100%;
    font-size: 1rem;
    margin-left: 7px;
    outline: none;
}
.search-label {
    display: flex;
    align-items: center;
}
.search-label img {
    width: 25px;
    margin: 0 5px 0 10px;
}

@media only screen and (min-width: 640px) {
    .search-bar {
        max-width: none;
    }
}