:host {
    display: block;
    border-left: 2px solid #d3d5d8;
    padding-left: 10px;
    margin-bottom: 22px;
}
:host app-comment {
    margin-left: 14px;
}
.comment-author {
    font-weight: 700;
    font-size: .85rem;
    display: inline;
    margin-right: 5px;
}
p {
    margin-top: 5px;
}