/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  html {
    font-size: 16px;
  }
  body {
    padding: 0;
    background-color: #d3d5d8;
    font-size: 1rem;
    color: rgb(27, 27, 27);
  }
  a {
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
  main {
    max-width: 1200px;
    margin: 60px auto 0;
  }
  .error {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .loading {
    font-weight: 700;
    font-size: 1.2rem;
  }
  span {
    font-size: .85rem;
    color: #5c676e;
}
  
@media only screen and (min-width: 640px) {
  main {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
app-card {
  display: block;
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
  padding: 1px 8px;
  border: 1px solid transparent;
}
app-card:hover {
  border-color: #5c676e;
}
@media only screen and (min-width: 640px) {
  app-card {
      border-radius: 5px;
      padding: 5px 15px 2px;
  }
}
app-comment a, .post-content a {
  color: rgb(0, 102, 204);
  text-decoration: underline;
}
app-comment a:hover, .post-content a:hover {
  text-decoration: none;
}

  